.fade-enter,
.fade-exit {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.8s cubic-bezier(0.4, 0.0, 1, 1) opacity;
}
.fade-enter,
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  z-index: 1;
}